/* ============== DOS DE MAYO ============== */
/* ============== DOS DE MAYO ============== */
html,
button,
input,
select,
textarea {
  color: #222;
}
body {
  background: #BFD3F2;
  font-size: 14px;
  font-family: Verdana, Geneva, sans-serif;
}
p {
  line-height: 150%;
}
a {
  text-decoration: none;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 5px 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.chromeframe {
  margin: 10px 0;
  background: #ccc;
  color: #000;
  padding: 10px 0;
}
#interior {
  width: 990px;
  background: #fff;
  margin: 0 auto;
  padding: 0 15px;
  box-shadow: 0px 0px 14px #000000;
  -moz-box-shadow: 0px 0px 14px #000000;
  -webkit-box-shadow: 0px 0px 14px #000000;
}
.wrapper {
  margin: 0 auto;
  position: relative;
  width: 980px;
}
.main {
  background: #fff;
  margin: 0 auto;
  text-align: left;
}
.footer-container {
  padding: 10px 0;
}
/* ==============
    HEADER
   ============== */
header {
  color: #FFFFFF;
  font-size: 14px;
}
header h1 a {
  background-image: url("/imagenes/logo.png");
  display: block;
  height: 84px;
  margin: 15px 0 17px 19px;
  text-indent: -10000em;
  width: 300px;
}
header #icons-sup {
  height: 25px;
  left: 880px;
  position: absolute;
  top: 10px;
  width: 97px;
}
header #icons-sup ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header #icons-sup ul li a {
  background-image: url("/imagenes/iconos.png");
  display: block;
  float: left;
  height: 20px;
  margin: 0 5px;
  text-indent: -10000em;
  width: 20px;
}
header #icons-sup ul li .icon-home {
  background-position: -300px -50px;
}
header #icons-sup ul li .icon-correo {
  background-position: -330px -50px;
}
header #icons-sup ul li .icon-mapa-sitio {
  background-position: -360px -50px;
}
header nav ul {
  margin: 0;
  padding: 40px 0 0 0;
  list-style: none;
  float: right;
}
header nav ul li {
  background: #eeeeee;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: -o-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: -ms-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: linear-gradient(to bottom, #eeeeee 0%, #cccccc 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0);
  display: inline;
  float: left;
  font-size: 12px;
  margin: 0 1px !important;
  position: relative;
}
header nav ul li a {
  color: #242424;
  display: block;
  float: left;
  font-weight: bold;
  padding: 10px 18px;
  text-decoration: none;
}
header nav ul li a:hover {
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 18px;
  text-decoration: none;
}
header nav ul li a.current {
  text-decoration: none;
}
header nav ul li:hover {
  background: #6db3f2;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZkYjNmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzU0YTNlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzM2OTBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZTY5ZGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6db3f2), color-stop(50%, #54a3ee), color-stop(51%, #3690f0), color-stop(100%, #1e69de));
  background: -webkit-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
  background: -o-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
  background: -ms-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
  background: linear-gradient(to bottom, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#6db3f2', endColorstr='#1e69de', GradientType=0);
  color: #fff !important;
  cursor: pointer;
  font-weight: bold;
}
header nav ul li.first {
  border-radius: 10px 0px 0px 10px;
  -moz-border-radius: 10px 0px 0px 10px;
  -webkit-border-radius: 10px 0px 0px 10px;
}
header nav ul li.last {
  border-radius: 0px 10px 10px 0px;
  -moz-border-radius: 0px 10px 10px 0px;
  -webkit-border-radius: 0px 10px 10px 0px;
}
header nav ul .submenu {
  background: #FFFFFF;
  border: none;
  display: none;
  height: auto;
  left: -1px;
  margin: 35px 0 0 0 !important;
  padding: 0 !important;
  position: absolute;
  z-index: 100;
}
header nav ul .submenu li {
  border-bottom: 1px dashed #CCC;
  background: #FFFFFF;
  float: none;
  font-size: 12px;
  margin: 0;
  position: static;
  z-index: 110;
}
header nav ul .submenu li a {
  color: #fff;
  width: 180px;
  padding: 7px 10px;
  border: 1px solid #fff;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0099FF', endColorstr='#2079FF');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#0099FF', endColorstr = '#2079FF')";
  background-image: -moz-linear-gradient(top, #0099ff, #2079ff);
  background-image: -ms-linear-gradient(top, #0099ff, #2079ff);
  background-image: -o-linear-gradient(top, #0099ff, #2079ff);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#0099ff), to(#2079ff));
  background-image: -webkit-linear-gradient(top, #0099ff, #2079ff);
  background-image: linear-gradient(top, #0099ff, #2079ff);
}
header nav ul .submenu-prensa {
  background: #FFFFFF;
  border: none;
  display: none;
  height: auto;
  left: -45px;
  margin: 35px 0 0 0 !important;
  padding: 0 !important;
  position: absolute;
  z-index: 100;
}
header nav ul .submenu-prensa li a {
  border: 1px solid #fff;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0099FF', endColorstr='#2079FF');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#0099FF', endColorstr = '#2079FF')";
  background-image: -moz-linear-gradient(top, #0099ff, #2079ff);
  background-image: -ms-linear-gradient(top, #0099ff, #2079ff);
  background-image: -o-linear-gradient(top, #0099ff, #2079ff);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#0099ff), to(#2079ff));
  background-image: -webkit-linear-gradient(top, #0099ff, #2079ff);
  background-image: linear-gradient(top, #0099ff, #2079ff);
  color: #fff;
  padding: 7px 10px;
  width: 105px;
}
#slider {
  margin: 0 10px 15px 0;
  float: left;
  height: 318px;
  overflow: hidden;
  position: relative;
  width: 750px;
  z-index: 88;
}
#slider .nivoSlider a.nivo-imageLink {
  border: 0;
  display: none;
  height: 100%;
  left: 0px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 60;
}
#slider .nivo-slice {
  display: block;
  height: 100%;
  position: absolute;
  z-index: 50;
}
#slider .nivo-controlNav {
  bottom: 60px;
  left: 42px;
  position: absolute;
  z-index: 99;
}
#slider .nivo-controlNav a {
  background: url(/imagenes/buttons.gif) right 0 no-repeat;
  cursor: pointer;
  float: left;
  height: 15px;
  margin-right: 6px;
  position: relative;
  text-indent: -5000px;
  width: 15px;
  z-index: 99;
}
#slider .nivo-controlNav a.active,
#slider .nivo-controlNav .nivo-controlNav a:hover {
  background-position: left;
}
#slider .nivo-caption {
  left: 0;
  position: absolute;
  top: 0px;
  z-index: 99;
}
#slider .block1 {
  color: #6c6c6c;
  font-size: 22px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  height: 318px;
  letter-spacing: -1px;
  line-height: 100%;
  width: 100%;
}
#slider .block1 .indent-block {
  font-weight: normal;
  padding: 72px 0 0 41px;
}
#slider .block1 h1 {
  color: #454747;
  font-size: 36px;
  font-weight: normal;
  line-height: 150%;
  margin-bottom: 3px;
  letter-spacing: -2px;
}
#slider .block1 h1 strong {
  color: #03b2d1;
  font-size: 50px;
  font-weight: normal;
  letter-spacing: -2px;
  display: block;
  margin-bottom: -7px;
}
.mrq_lista {
  background: #2D65AE;
  border: 1px solid #CCC;
  float: left;
  height: 235px;
  font-size: 12px;
  padding: 5px 15px 0 10px;
  position: relative;
  width: 193px;
}
.mrq_lista .mrq-vm {
  display: block;
  position: absolute;
  width: 75px;
  left: 129px;
  top: 217px;
  text-align: right;
  color: #fff;
  font-weight: bold;
}
.mrq_lista h2 {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2em;
  margin-bottom: 8px;
  margin-top: 0;
}
.mrq_lista .mrq_lista_item {
  border-top: 1px solid #fff;
  height: 175px;
  overflow: hidden;
  width: 192px;
}
.mrq_lista .mrq_lista_item ul {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none !important;
}
.mrq_lista .mrq_lista_item ul li {
  background: url(/imagenes/marker.png) top left no-repeat;
  background-position: 0 2px;
  float: none;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  padding-left: 26px;
  padding-bottom: 9px;
}
.mrq_lista .mrq_lista_item ul li a {
  color: #fff;
  line-height: 18px;
  margin: 0;
  text-decoration: none;
  font-weight: normal;
}
.mrq_lista .mrq_lista_item ul li a:hover {
  color: #fff;
  text-decoration: none;
}
#central_telefonica {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 1px solid #999;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fefdf9', endColorstr='#f2efe8');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fefdf9', endColorstr = '#f2efe8')";
  background-image: -moz-linear-gradient(top, #fefdf9, #f2efe8);
  background-image: -ms-linear-gradient(top, #fefdf9, #f2efe8);
  background-image: -o-linear-gradient(top, #fefdf9, #f2efe8);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#fefdf9), to(#f2efe8));
  background-image: -webkit-linear-gradient(top, #fefdf9, #f2efe8);
  background-image: linear-gradient(top, #fefdf9, #f2efe8);
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  float: left;
  margin-top: 10px;
  padding: 5px 10px 10px 10px;
  position: relative;
  width: 195px;
}
#central_telefonica h2 {
  color: #2185C7;
  font-size: 16px;
  margin: 0 0 5px 0;
  text-align: center;
}
#central_telefonica #ver_telf {
  color: #000;
  display: block;
  font-weight: bold;
  font-size: 11px;
  left: 106px;
  top: 53px;
  text-align: right;
  position: absolute;
  width: 99px;
}
#central_telefonica span#img-telefono {
  background-image: url("/imagenes/iconos.png");
  background-position: 0 0;
  display: block;
  float: left;
  height: 30px;
  width: 30px;
}
#central_telefonica ul.marquee {
  color: #000;
  display: block;
  height: 30px;
  left: 50px;
  list-style: none;
  line-height: 1;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  width: 135px;
}
#central_telefonica ul.marquee li {
  background: none;
  display: block !important;
  font-weight: bold;
  font-size: 22px !important;
  padding: 3px 5px !important;
  position: absolute  !important;
  top: -999em;
  text-align: center !important;
  white-space: nowrap !important;
  width: 135px !important;
}
/* ===============
    MAIN
   =============== */
#news {
  float: left;
  margin-right: 10px;
  width: 750px;
}
#news h3 {
  font-size: 22px;
  margin: 0;
}
#news #news-izq {
  float: left;
  margin-right: 10px;
  width: 370px;
}
#news #news-izq .nws-contenido div {
  float: left;
  padding: 0 0 0 8px;
  width: 242px;
}
#news #news-der {
  float: left;
  width: 370px;
}
#news #news-der h2 {
  font-size: 18px !important;
}
#news #news-der .nws-contenido div {
  float: left;
  padding: 0 8px 0 0;
  width: 242px;
}
#news #news-der .slider-bxslider {
  float: left;
  height: 130px;
  overflow: hidden;
  width: 370px;
  z-index: 88;
}
#news #news-der .slider-bxslider .nivo-slice {
  width: 370px !important;
}
#news #news-der .slider-bxslider .nivo-caption {
  display: none;
}
#news #news-der .slider-bxslider .nivo-controlNav {
  display: none;
}
#news #nwi-pest {
  overflow: hidden;
  padding-bottom: 10px;
}
#news #nwi-pest .slider-bxslider {
  float: left;
  height: 220px;
  overflow: hidden;
  width: 370px;
  z-index: 88;
}
#news #nwi-pest .slider-bxslider .nivo-slice {
  width: 370px !important;
}
#news #nwi-pest .slider-bxslider .nivo-caption {
  display: none;
}
#news #nwi-pest .slider-bxslider .nivo-controlNav {
  display: none;
}
#news #nwi-pest #nwip-select {
  border-bottom: 1px solid #ccc;
  float: left;
  width: 100%;
}
#news #nwi-pest #nwip-select ul {
  list-style: none;
  padding: 0;
  position: relative;
  margin: 0;
}
#news #nwi-pest #nwip-select ul li {
  background: none;
  padding-left: 0;
  float: left;
  margin-right: 5px;
}
#news #nwi-pest #nwip-select ul li a {
  display: block;
  float: left;
  color: #3c3b3b;
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
  font-size: 12px;
  padding: 14px 14px;
  display: block;
  float: left;
  border: 1px solid #CCC;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  margin: 0;
  letter-spacing: normal;
}
#news #nwi-pest #nwip-select ul li a:hover {
  background-color: #2D65AE;
  color: #fff;
}
#news #nwi-pest #nwip-select ul li.selected a {
  background-color: #2D65AE;
  color: #fff;
}
#news #nwi-pest .pest-content {
  position: relative;
}
#news #nw-campania-esp .nws-select {
  border-bottom: 1px solid #ccc;
  float: left;
  width: 100%;
}
#news #nw-campania-esp .nws-select h3 {
  background-color: #2D65AE;
  color: #fff;
  font-weight: normal;
  font-size: 12px;
  padding: 14px 14px;
  display: block;
  float: left;
  border: 1px solid #CCC;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  margin: 0;
  letter-spacing: normal;
}
#news #nw-campania-esp .nws-contenido {
  background-color: #BFD3F2;
  float: left;
  padding: 15px 0 10px 0;
  width: 100%;
}
#news #nw-campania-esp .nws-contenido a {
  font-weight: bold;
  padding-left: 10px;
}
#news #nw-campania-esp .nws-contenido ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
#news #nw-campania-esp .nws-contenido ul li {
  list-style: none;
  margin: 4px;
  padding: 0;
  display: inline-block;
}
#news #nw-campania-esp .nws-contenido ul li a {
  float: left;
  left: 50%;
}
#news article.news-noticia {
  float: left;
  padding: 5px 0 10px 0;
  margin: 0;
  width: 100%;
}
#news article.news-noticia h2,
#news article.news-noticia h2 a {
  color: #2185C7;
  font-size: 20px;
  font-weight: normal;
  margin: 5px 0;
}
#news article.news-noticia h2.nwnot-18,
#news article.news-noticia h2.nwnot-18 a {
  font-size: 18px !important;
}
#news article.news-noticia p {
  font-size: 12px;
  text-align: justify;
}
#news article.news-noticia a.art-mas {
  font-size: 12px;
  font-weight: bold;
  color: #000;
}
#news article.directorio-doctor {
  float: left;
  padding-bottom: 10px;
  margin: 10px 0 5px 0;
}
#news article.directorio-doctor .datos {
  border-right: 1px solid #000;
  float: left;
  text-align: center;
  width: 340px;
}
#news article.directorio-doctor .datos img {
  border: 5px solid #999;
}
#news article.directorio-doctor .datos div {
  float: left;
  width: 340px;
}
#news article.directorio-doctor .datos div h2 {
  font-family: "Source Sans", sans-serif;
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}
#news article.directorio-doctor .datos div p {
  color: #0071BC;
  margin: 0;
  padding: 0;
}
#news article.directorio-doctor .contenido {
  float: left;
  padding: 0 10px 0 10px;
  text-align: justify;
  width: 389px;
}
#news article.directorio-doctor .contenido p {
  font-size: 12px;
}
#news #medicos-lista {
  float: left;
}
#news #medicos-lista #contenido {
  float: left;
}
#news #medicos-lista #contenido #datos {
  background-color: #BFD3F2;
  border: 1px solid #666;
  border-radius: 10px;
  margin: 20px 0 0 0;
  padding: 0 0 20px 20px;
  width: 100%;
}
#news .nw-seccion {
  float: left;
  padding-bottom: 10px;
  width: 370px;
}
#news .nw-seccion .nws-select {
  border-bottom: 1px solid #ccc;
  float: left;
  width: 100%;
}
#news .nw-seccion .nws-select h3 {
  background-color: #2D65AE;
  color: #fff;
  font-weight: normal;
  font-size: 12px;
  padding: 14px 14px;
  display: block;
  float: left;
  border: 1px solid #CCC;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  margin: 0;
  letter-spacing: normal;
}
#news .nw-seccion .nws-contenido {
  float: left;
  padding: 8px 0 0 0;
  width: 100%;
}
#news .nw-seccion .nws-contenido a.art-mas {
  font-size: 12px;
  font-weight: bold;
  color: #000;
}
#news .nw-seccion .nws-contenido img,
#news .nw-seccion .nws-contenido div {
  float: left;
}
#news .nw-seccion .nws-contenido div {
  float: left;
  width: 242px;
}
#news .nw-seccion .nws-contenido div h2,
#news .nw-seccion .nws-contenido div h2 a {
  color: #2185C7;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}
#news .nw-seccion .nws-contenido div p {
  font-size: 12px;
  text-align: justify;
}
#news .nw-nota {
  margin: 0 auto;
  width: 95%;
}
#news .nw-nota .titulo {
  float: left;
  width: 100%;
}
#news .nw-nota .titulo h2 {
  color: #29578D;
  font-size: 18px;
}
#news .nw-nota .imagen {
  float: left;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}
#news .nw-nota .imagen img {
  border: 3px solid #666;
  margin: 10px;
}
#news .nw-nota .imagen .slider-bxslider {
  border: 10px solid #666;
  float: left;
  height: 350px;
  margin-left: 85px;
  overflow: hidden;
  width: 550px;
  z-index: 88;
}
#news .nw-nota .imagen .slider-bxslider .nivo-slice {
  width: 550px !important;
}
#news .nw-nota .imagen .slider-bxslider .nivo-caption {
  display: none;
}
#news .nw-nota .imagen .slider-bxslider .nivo-controlNav {
  display: none;
}
#news .nw-nota .contenido {
  float: left;
  font-size: 12px;
  text-align: justify;
  width: 100%;
}
#news .nw-nota .contenido table tr td {
  padding: 6px 0 6px 0;
}
#news .nw-nota .contenido table tr td strong {
  color: #fff;
}
#news .nw-nota .contenido ul {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none !important;
}
#news .nw-nota .contenido ul li {
  background: url(/imagenes/marker.png) top left no-repeat;
  background-position: 0 2px;
  float: none;
  margin: 0;
  padding-left: 26px;
  padding-bottom: 9px;
}
#news .nw-nota .contenido ul li a {
  color: #000;
  line-height: 18px;
  margin: 0;
  text-decoration: none;
  font-weight: normal;
}
#news .nw-nota .contenido ul li a:hover {
  color: #000;
  text-decoration: none;
}
#news .nw-nota .nwn-lista h3 {
  color: #29578D;
  background: none;
  border: none;
  font-size: 18px;
}
#news .nw-nota .nwn-lista p {
  font-size: 12px;
  text-align: justify;
}
#news .nw-nota .nwn-lista div {
  border: none;
}
/* ===============
    SIDEBAR
   =============== */
#sidebar {
  float: left;
  width: 220px;
}
#sidebar .slider-bxslider {
  float: left;
  height: 120px;
  overflow: hidden;
  width: 220px;
  z-index: 88;
}
#sidebar .slider-bxslider .nivo-slice {
  width: 370px !important;
}
#sidebar .slider-bxslider .nivo-caption {
  display: none;
}
#sidebar .slider-bxslider .nivo-controlNav {
  display: none;
}
#secciones-lista {
  float: left;
  width: 219px;
}
#secciones-lista ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#secciones-lista li {
  margin: 0;
  padding: 0;
  position: relative;
}
#secciones-lista li div {
  opacity: 0.8;
  color: red;
  display: block;
  position: absolute;
  left: 125px;
  top: 26px;
  font-weight: bold;
  padding: 5px;
}
#secciones-lista li a {
  background-color: #C7D9E5;
  display: block;
  padding: 6px 20px 6px 55px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  margin: 5px 0;
  border: 1px solid #256D9C;
  line-height: 150%;
  font-weight: bold;
  font-size: 13px;
  color: #039;
}
#secciones-lista li span.img {
  background-image: url("/imagenes/iconos.png");
  background-repeat: no-repeat;
  display: block;
  float: left;
  height: 40px;
  position: absolute;
  left: 10px;
  top: 6px;
  width: 40px;
}
#secciones-lista li span.icon-online {
  background-position: -140px 0;
}
#secciones-lista li span.icon-atencion {
  background-position: -50px -50px;
}
#secciones-lista li span.icon-libro {
  background-position: -250px -50px;
}
#secciones-lista li span.icon-tarifario {
  background-position: -100px -50px;
}
#secciones-lista li span.icon-boletin {
  background-position: 0 -50px;
}
#secciones-lista li span.icon-observatorio {
  background-position: -200px -50px;
}
#secciones-lista li span.icon-cas {
  background-position: -40px 0;
}
#secciones-lista li a:hover {
  background: #5BADDE;
  color: #fff;
}
#busqueda_doctor {
  float: left;
  width: 207px;
  background-color: #268DC3;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  margin: 5px 0;
  border: 1px solid #256D9C;
  color: #fff;
  padding: 5px;
}
#busqueda_doctor span.icon-medico {
  background-image: url("/imagenes/iconos.png");
  background-position: -290px 0;
  float: left;
  height: 40px;
  width: 40px;
}
#busqueda_doctor p {
  vertical-align: middle;
  padding: 0 0 0 10px;
  float: left;
  font-size: 14px;
  font-weight: bold;
}
#busqueda_doctor .searchform {
  display: inline-block;
  zoom: 1;
  *display: inline;
  border: solid 1px #d2d2d2;
  padding: 3px 5px;
  border-radius: 2em 2em 2em 2em;
  -moz-border-radius: 2em 2em 2em 2em;
  -webkit-border-radius: 2em 2em 2em 2em;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);
  background: #f1f1f1;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ededed));
  /*background: -moz-linear-gradient(top,  #fff,  #ededed);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
		-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');*/

}
#busqueda_doctor .searchform input {
  font-weight: normal;
  font-size: 12px;
}
#busqueda_doctor .searchform .searchfield {
  background: #fff;
  padding: 6px 6px 6px 8px;
  width: 147px;
  border: solid 1px #bcbbbb;
  outline: none;
  border-radius: 2em 2em 2em 2em;
  -moz-border-radius: 2em 2em 2em 2em;
  -webkit-border-radius: 2em 2em 2em 2em;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}
#busqueda_doctor .searchform .searchbutton {
  color: #fff;
  border: solid 1px #494949;
  font-size: 11px;
  height: 27px;
  width: 27px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
  border-radius: 2em 2em 2em 2em;
  -moz-border-radius: 2em 2em 2em 2em;
  -webkit-border-radius: 2em 2em 2em 2em;
  background: #5f5f5f;
  background: -webkit-gradient(linear, left top, left bottom, from(#9e9e9e), to(#454545));
  /*background: -moz-linear-gradient(top,  #9e9e9e,  #454545);
			filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#454545');
			-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#454545');*/

}
#patrimonio-historico {
  float: left;
  height: 120px;
  width: 220px;
  margin: 10px 0;
}
#opciones-lista {
  float: left;
  width: 219px;
}
#opciones-lista ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#opciones-lista li {
  margin: 0;
  padding: 0;
  position: relative;
}
#opciones-lista li a {
  background-color: #2F78C5;
  display: block;
  padding: 9px 20px 0px 55px;
  border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  margin: 5px 0;
  border: 1px solid #256D9C;
  line-height: 150%;
  font-weight: bold;
  font-size: 12px;
  color: #fff;
  height: 30px;
}
#opciones-lista li span.img {
  background-image: url("/imagenes/iconos.png");
  background-repeat: no-repeat;
  display: block;
  float: left;
  height: 30px;
  position: absolute;
  left: 16px;
  top: 6px;
  width: 30px;
}
#opciones-lista li span.icon-escribanos {
  background-position: -190px 0;
}
#opciones-lista li span.icon-ubicanos {
  background-position: -240px 0;
}
#opciones-lista li span.icon-laboral {
  background-position: -340px 0;
}
#opciones-lista li a#popupen-ubicanos {
  height: 160px;
  font-size: 14px;
  padding: 10px 0;
  text-align: center;
}
#opciones-lista li a:hover {
  background: #1D4B7B;
  color: #fff;
}
/* ===============
    FOOTER
   =============== */
#enlaces-interes {
  background-color: #DAE6F5;
  height: 50px;
  padding: 15px 0;
  overflow: hidden;
  position: relative;
}
#enlaces-interes marquee {
  height: 45px;
  width: 3750px;
  position: absolute;
  left: -2770px;
}
#enlaces-interes .items {
  float: left;
  padding: 7px 10px;
  text-align: center;
  margin: 0 10px;
}
footer #copy-datos {
  background-image: url("/imagenes/fondo-footer.png");
  height: 128px;
  position: relative;
  text-align: center;
  width: 980px;
}
/*============
POPUP
==============*/
#popup-escribanos #popup-esc-cerrar {
  display: block;
  position: absolute;
  top: 7px;
  font-size: 12px;
  right: 10px;
  font-weight: bold;
}
#popup-escribanos #btn-escribanos {
  border: none;
  cursor: pointer;
  width: 190px;
  margin-left: 35px;
}
#popup-escribanos .btn-custom {
  background-color: #007bbd !important;
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr="#23b2fe", endColorstr="#007abc");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#23b2fe), to(#007abc));
  background-image: -moz-linear-gradient(top, #23b2fe, #007abc);
  background-image: -ms-linear-gradient(top, #23b2fe, #007abc);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #23b2fe), color-stop(100%, #007abc));
  background-image: -webkit-linear-gradient(top, #23b2fe, #007abc);
  background-image: -o-linear-gradient(top, #23b2fe, #007abc);
  background-image: linear-gradient(#23b2fe, #007abc);
  border-color: #007abc #007abc #006aa3;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}
#popup-escribanos .btn-custom:hover {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
}
#popup-escribanos .btn_large {
  font-size: 16px;
  line-height: normal;
  padding: 9px 14px 9px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
#popup-escribanos #btn-escribanos:hover {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
}
#popup-ubicanos {
  width: auto;
}
#popup-ubicanos #popup-ubi-cerrar {
  display: block;
  position: absolute;
  top: 7px;
  font-size: 12px;
  right: 10px;
  font-weight: bold;
}
#popup-ubicanos h2 {
  left: 250px;
}
#popup-telefono {
  width: 390px;
}
#popup-telefono #popup-tel-cerrar {
  display: block;
  position: absolute;
  top: 7px;
  font-size: 12px;
  right: 10px;
  font-weight: bold;
}
#popup-telefono h2 {
  left: 80px;
}
#popup-correo {
  width: 390px;
}
#popup-correo #popup-correo-cerrar {
  display: block;
  position: absolute;
  top: 7px;
  font-size: 12px;
  right: 10px;
  font-weight: bold;
}
#popup-correo h2 {
  left: 78px;
}
#popup-intranet {
  width: 335px;
}
#popup-intranet #popup-intranet-cerrar {
  display: block;
  position: absolute;
  top: 7px;
  font-size: 12px;
  right: 10px;
  font-weight: bold;
}
#popup-intranet h2 {
  left: 110px;
}
.popup {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  background: #f6f6f6;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYWRhZGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f6f6f6 0%, #dadada 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(100%, #dadada));
  background: -webkit-linear-gradient(top, #f6f6f6 0%, #dadada 100%);
  background: -o-linear-gradient(top, #f6f6f6 0%, #dadada 100%);
  background: -ms-linear-gradient(top, #f6f6f6 0%, #dadada 100%);
  background: linear-gradient(to bottom, #f6f6f6 0%, #dadada 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#dadada', GradientType=0);
  float: left;
  width: 100%;
  display: none;
  position: relative;
}
.popup .popup-box {
  padding: 70px 20px 20px 20px;
  color: #878787;
}
.popup .popup-box p {
  font-size: 12px;
}
.popup .popup-box h2 {
  margin: 0;
  display: block;
  float: left;
  color: white;
  background-color: #0080C9;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 78px;
  font-size: 18px;
}
.popup .popup-box img {
  padding-bottom: 10px;
}
.popup .popup-box form fieldset {
  padding: 0 0 10px 0;
  margin: 0;
  border: none;
}
.popup .popup-box form fieldset label {
  color: #878787;
  text-shadow: 2px 2px 2px white;
  font-size: 12px;
  padding: 0 0 0 20px;
  float: left;
  width: 100%;
}
.popup .popup-box form fieldset textarea {
  width: 248px;
  height: 100px;
  font-size: 1em;
  padding-left: 5px;
  margin-bottom: 11px;
  padding-top: 2px;
  padding-bottom: 2px;
  overflow: auto;
  resize: none;
}
.popup .popup-box form fieldset input {
  font-size: 1em;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #fff;
}
.popup .popup-box form fieldset .input {
  font-size: 1em;
  color: #000;
  padding-left: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 248px;
}
#capaPopUp {
  background-color: #000;
  /* Le damos la el color de la opacidad. */

  opacity: 0.65;
  /* Este valor mostrará la intensidad de la opacidad. */

  position: absolute;
  /* La posición tendrá que ser absoluta. */

  z-index: 9001;
  /* Esta propidad es para añadir la capa superpuesta al nivel 9001. */

  top: 0;
  /* Para que posicione la capa al punto '0' del top de la página. */

  left: 0;
  /* Para que posicione la capa al punto '0' a la izquieda de la página. */

  width: 100%;
  /* El valor por defecto que tendrá que expandirse. */

  height: 100%;
  /* El valor por defecto que tendrá que expandirse. */

  display: none;
  /* Por defecto estará desactiva */

}
#popUpDiv {
  position: absolute;
  /* La posición tendrá que ser absoluta. */

  z-index: 9002;
  /* Esta propiedad la indicamos por si el contenido es más grande que la capa que por defecto salga el 'scroll'. */

  left: 50%;
  /* Para posicionar horizontalmente la capa al centro de la página */

  display: none;
  /* Por defecto estará desactiva */

  top: 50%;
  /* Para posicionar verticalmente la capa al centro de la página */

  border: 10px solid #fff;
}
#popUpDiv a {
  background-color: #fff;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  padding: 5px;
  position: absolute;
  right: -10px;
  top: -10px;
}
/**************************************************************************
ESTILOS PROPIOS DEL POPUP 20090323@JCP
***************************************************************************/
#capaContent {
  display: block;
  width: 400px;
  /* Necesario para que el script centre la capa horizontalmente en la página */

  height: 200px;
  /* Necesario para que el script centre la capa verticalmente en la página */

  background-color: #FFF;
}
/* ===============
    ALL: IE Fixes
   =============== */
.ie7 .title {
  padding-top: 20px;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.position_relative {
  position: relative;
}
.borde-bottom {
  border-bottom: 1px dotted #666;
}
